<!-- ini adalah header -->
 <header>
    <table width="100%" border="1">
        <tr>
            <!-- ini kolom logo -->
            <td width="25%" align="center" valign="middle">
            <img src="../assets/img/logo.png" alt="logo" height="80">
            </td>
            <!-- ini kolom nama situs web -->
            <td width="50%" align="center" valign="middle">
                <h1>INSTITUT AGAMA KRISTEN NEGERI AMBON</h1>
                <p>Selamat datang di website IAKN Ambon</p>
            </td>
            <!-- ini kolom pencarian -->
             <td width="25%" align="center" valign="middle">
                <form action="#" method="get">
                    <input type="search" name="cari" placeholder="Cari...">
                    <input type="submit" value="cari">
                </form>
             </td>
        </tr>
    </table>
 </header>
 <hr>
 <!-- ini adalah navigasi -->
  <nav>
    <center>
        <a href="/index.html" target="_parent">BERANDA |</a>
        <a href="../pages/tentang.html" target="_parent">TENTANG |</a>
        <a href="../pages/galeri.html" target="_parent">GALERI |</a>
        <a href="../pages/kontak.html" target="_parent">KONTAK |</a>
        <a href="../pages/login.html" target="_parent">LOGIN</a>
    </center>
  </nav>
<hr>
<!-- ini adalah bagian gambar -->
 <center>
    <img src="../assets/img/kampus.jpg" alt="kampus" width="100%">
 </center>
 <hr>
